<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener ✂</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to URL Shortener</h1>
        {% if 'username' in session %}
            <p>You are logged in as: {{ session['username'] }}</p>
            <a href="/shortener" class="btn btn-primary">Go to URL Shortener</a><br>
            <form method="POST" action="{{ url_for('logout') }}">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
        {% else %}
            <p>You are not logged in.</p>
            <a href="/register" class="btn btn-primary">Register</a><br>
            <a href="/login" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
